<!DOCTYPE html>
<html>
<head>
  <title>creek</title>
  <link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="screen">
  <link rel="stylesheet" href="stylesheets/icomoon.css" type="text/css" media="screen">
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css" type="text/css" media="screen">
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
</head>
    <body>
        <div class="container">
            <div>
                <span id="logo" style="font-size:45px;">
                    <i aria-hidden="true" style="font-size:35px;" class="icon-feather"></i>
                    creek
                </span>
            </div>
            <div class="hero-unit" style="display:none;">
                <h1>creek</h1>
                <p>efficient app administration</p>
                <div class="menubar left">Process count 
                    <span id="process-count">0</span>
                </div>
                <div class="menubar center">
                    <span href="#" id="addProcess-modal" class="btn">Process +1</span>
                </div>
                <div class="menubar right">
                    <span href="#" class="btn refresh">Refresh list</span>
                </div>
                <div class="menubar signout">
                    <a href="/logout" id="signout" class="btn">Sign Out</a>
                </div>
            </div>
            <div id="search">
                <input type="text" on-input="search" placeholder="Search" tabindex="1">
            </div>
            <div id="process-list" class="components"></div>
            <footer>
                <p>creek - by
                    <a href="https://github.com/r8k"> r8k</a>
                </p>
            </footer>
        </div>

        <script id="process-tmpl" type="text/html">
            <div class="component">
                <header class="header">
                  <h3>
                    {{username}}
                  </h3>
                </header>

                <table class="info">
                    <tbody>
                        <tr>
                          <td>Apps</td>
                          <td>24</td>
                        </tr>
                    </tbody>
                </table>

                <p>A sane JSONP implementation. {{apps}}</p>
            </div>

            <div class="component">
                <header class="header">
                  <h3>
                    {{username}}
                  </h3>
                </header>

                <table class="info">
                    <tbody>
                        <tr>
                          <td>Apps</td>
                          <td>24</td>
                        </tr>
                    </tbody>
                </table>

                <p>A sane JSONP implementation. {{apps}}</p>
            </div>
        </script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.10/backbone-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var App = {};
        </script>
        <script src="appjs/AppView.js" type="text/javascript" charset="utf-8"></script>
        <script src="appjs/User.js" type="text/javascript" charset="utf-8"></script>
        <script src="appjs/UserList.js" type="text/javascript" charset="utf-8"></script>
        <script src="appjs/UserView.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" charset="utf-8">
            $(function () {
                App.ForeverWebUIApp = new App.AppView( <%- JSON.stringify(process) %> );
            });
        </script>
    </body>
</html>