/**
 * <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
 */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/2HG_tEPiQ4Z6795cGfdivLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/RYyZNoeFgb0l7W3Vu1aSWOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/HkF_qI1x_noxlxhrhMQYELO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

.sigin {
  position: fixed;
  right: 45%;
  top: 30%;
}

#signin-email, #signin-password {
  margin-bottom: 5px;
}

#go {
  width:100%;
}

#logo {
  font-size: 35px;
  font-family: "Lato", serif;
}

.buttonHolder {
  text-align: center;
}

.container {
  padding: 75px;
}

.components {
	width: 75%;
	max-width: 1140px;
	min-width: 300px;
}

.component {
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #eee;
	padding: 16px 0px;
	font-size: 20px;
}

body {
	font: 16px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #272727;
}

#search input {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 10;
	font-size: 40px;
	padding: 15px 30px;
	font-family: inherit;
	font-weight: 100;
	border: none;
	outline: none;
	line-height: 45px;
	border-bottom: 5px solid #eee;
	background: rgba(255,255,255, .95);
	width: 100%;
}

.component h3 {
	margin: 0;
	line-height: 1.3;
}

.component h3 a {
	color: inherit;
}

.component .header {
	float: left;
	width: 20%;
	margin-right: 20px;
}

.component .repo {
	font-size: 12px;
	color: #7f7f7f;
}

.component p {
	overflow: hidden;
	margin: 2px 0 0 0;
	line-height: 1.3;
	max-width: 40em;
}

.component .info {
	float: right;
	max-width: 10em;
	margin-left: 20px;
	margin: 6px 0 0 0;
	font-size: 12px;
	color: #7f7f7f;
	display: block;
	line-height: 1.4;
}

.component .info td {
  vertical-align: top
}

.component .info td:first-child {
  opacity: 0.6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  width: 20%;
  padding-right: 10px
}

footer {
	position: fixed;
	top: 0;
	right: 2%;
	font-size: 16px;
	font-family: "Lato", serif;
}